#root{
    -fx-background-color: #e0d2c7;
    -fx-pref-width: 1500;
    /*height: 100%;*/
}

#journalListBox{
    -fx-background-color: #b8ada5;
}

#unfilteredThoughtsTitle{
    -fx-font-size: 17px;
}

#entryNumTitle{
    -fx-font-size: 25px;
}
#entryNum{
    -fx-font-size: 20px;
}
#loginStreakTitle{
    -fx-font-size: 25px;
}
#loginStreakNum{
    -fx-font-size: 20px;
}

#accountSettingButton{
    -fx-font-size: 20px;
}

#unfilteredThoughtsTitle{
    -fx-font-size: 15px;
}

#journalEntryList{
    /*-fx-pref-height: 100%;*/
    -fx-min-height: 100%;

}

/*#createBox{*/
/*    -fx-background-color: #b2fbb6;*/
/*    !*-fx-pref-width: 100%;*!*/
/*}*/

#logo{
    -fx-font-size: 50px;
}

#currentDate{
    -fx-font-size: 35px;
}

#createEntryButton{
    -fx-font-size: 25px;
}

ListView{
    -fx-font-size: 13px;
}